/* Font Style---------------------------------Font Style */
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Shared Style------------------ */
.font-1{
    font-family: "Merriweather", system-ui;
}
.font-2{
    font-family: "Inter", system-ui;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* __________________________________1ST PART___________________________________ */
/*banner section-------------------------*/
.banner{
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
    border-radius: 16px;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.banner-container{
    width:632px ;
    height:246px ;
    margin: 0 auto;
    /* border: 3px solid cornsilk; */
}
.banner .banner-container .banner-subtitle{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.banner .banner-container .banner-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
}
/* Responsive banner section--------------------------------------*/
/* For small device */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .banner{
        width: auto;
        margin: 10px 5px 0px 5px;
    }  
    .banner .banner-container .banner-title{
        font-size: 60px;
    }
}
/* For medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner{
        max-width:100% ;
        margin: 0 auto;
        height: 400px;
        margin-top: 5px;
    }
}

/* ____________________________________2ND PART________________________________ */
/*offer section---------------------------------------*/
.offer{
    width:802px;
    height:800px ;
    /* border: 3px solid red; */
    margin: 0 auto;
    margin-top: 120px;
}
.offer .offer-subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
}
.offer .offer-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.offer .offer-des{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.offer .offer-img{
    height: 500px;
    border: 1px dashed gray;
    background: rgb(255, 255, 255);
}
/* Responsive offer section---------------------------------------- */
/* For small device */
@media screen and (max-width:576px) {
    .offer{
        width: auto;
    }
    .offer .offer-img{
        height: auto;
    }
    .offer .offer-img .picture{
        border: none;
        max-width: 100%;
        height: auto;
    }  
} 
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {






}

    
/* _______________________________3RD PART______________________________________ */
/*Party Style--------------------------------------- */
.party{
    width:1320px ;
    height:600px ;
    /* border: 3px solid skyblue; */
    margin: 0 auto;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) ,url(../images/Vectorrr.png);
    border-radius: 16px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.party .party-container{
    display: flex;
    gap:0px;
}
.party .party-container .party-text .party-title{
    width:620px;
    height:176px ;
    /* border: 2px solid seashell; */
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 20%;
    text-align: left;
    margin: 126px 94px 24px 126px;
}
.party .party-container .party-text .party-des{
    width: 697px;
    height:60px;
    /* border: 2px solid whitesmoke; */
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 39px 48px 126px;
}
.party .party-container .party-text .party-spn{
    width: 103px;
    height:24px ;
    /* border: 2px solid whitesmoke;  */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin: 48px 0px 142px 158px;
}
.party .party-container .party-pic{
    width: 349.16px;
    height: 464.65px;
    border: 2px dashed gray;
    margin: 68px 108px 67px 0px;
}
/* Responsive party style-------------------------------------------*/
/* For small device */
@media screen and (max-width:576px) {
    .party{
        background-image: none;
        max-width: 100%;
        margin-top: 40px;
    }
    .party-text{
        max-width: 100%;
    }
    .party .party-container .party-text .party-title{
        color: black;
        margin: 0;
        width: 20px;
        margin-bottom: 150px;
        margin-left: 5px;
    }
    .party .party-container .party-text .party-des{
        margin: 0;
        color: black;
        max-width: 80%;
        height: 0%;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .party .party-container .party-text .party-spn{
        width: 0px;
        height: 0px;
        margin: 0%;
        color: black;
    }
    .party .party-container{
        flex-direction: column;
    }
    .party .party-container .party-pic{
        margin-top: 50px;
    }  
}
/* For medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    
}

/* __________________________________4TH PART____________________________________ */
/* address style--------------------------------*/
.address{
    width:1320px ;
    height:482px ;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.address .text{
    width:549px ;
    height:272px ;
    margin: 0 auto;
    /* border: 2px solid black;  */
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
}
.text .holder{
    color: rgb(255, 0, 0);
}
.text .red-btn{
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    margin-top: 48px;
}
/*Responsive address--------------------------------  */
/* For small device */
@media screen and (max-width:576px) {
    .address{
        max-width: 95%;
        margin-top: 500px;
    }
}
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    
}

/*___________________________________5TH PART____________________________________ */


