/* Font Style---------------------------------Font Style */
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Shared Style------------------ */
.font-1{
    font-family: "Merriweather", system-ui;
}
.font-2{
    font-family: "Inter", system-ui;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* __________________________________1ST PART___________________________________ */
/*banner section-------------------------*/
.banner{
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
    border-radius: 16px;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.banner-container{
    width:632px ;
    height:246px ;
    margin: 0 auto;
    /* border: 3px solid cornsilk; */
}
.banner .banner-container .banner-subtitle{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.banner .banner-container .banner-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
}
/* Responsive banner section--------------------------------------*/
/* For small device */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .banner{
        width: auto;
        margin: 10px 5px 0px 5px;
    }  
    .banner .banner-container .banner-title{
        font-size: 60px;
    }
}
/* For medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner{
        max-width:100% ;
        margin: 0 auto;
        height: 400px;
        margin-top: 5px;
    }
}

/* ____________________________________2ND PART________________________________ */
/*offer section---------------------------------------*/
.offer{
    width:802px;
    height:800px ;
    /* border: 3px solid red; */
    margin: 0 auto;
    margin-top: 120px;
}
.offer .offer-subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
}
.offer .offer-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.offer .offer-des{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.offer .offer-img{
    height: 500px;
    border: 1px dashed gray;
    background: rgb(255, 255, 255);
}
/* Responsive offer section---------------------------------------- */
/* For small device */
@media screen and (max-width:576px) {
    .offer{
        width: auto;
    }
    .offer .offer-img{
        height: auto;
    }
    .offer .offer-img .picture{
        border: none;
        max-width: 100%;
        height: auto;
    }  
} 
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {






}

    
/* _______________________________3RD PART______________________________________ */
/*Party Style--------------------------------------- */
.party{
    width:1320px ;
    height:600px ;
    /* border: 3px solid skyblue; */
    margin: 0 auto;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) ,url(../images/Vectorrr.png);
    border-radius: 16px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.party .party-container{
    display: flex;
    gap:0px;
}
.party .party-container .party-text .party-title{
    width:620px;
    height:176px ;
    /* border: 2px solid seashell; */
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 20%;
    text-align: left;
    margin: 126px 94px 24px 126px;
}
.party .party-container .party-text .party-des{
    width: 697px;
    height:60px;
    /* border: 2px solid whitesmoke; */
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 39px 48px 126px;
}
.party .party-container .party-text .party-spn{
    width: 103px;
    height:24px ;
    /* border: 2px solid whitesmoke;  */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin: 48px 0px 142px 158px;
}
.party .party-container .party-pic{
    width: 349.16px;
    height: 464.65px;
    border: 2px dashed gray;
    margin: 68px 108px 67px 0px;
}
/* Responsive party style-------------------------------------------*/
/* For small device */
@media screen and (max-width:576px) {
    .party{
        background-image: none;
        max-width: 100%;
        margin-top: 40px;
    }
    .party-text{
        max-width: 100%;
    }
    .party .party-container .party-text .party-title{
        color: black;
        margin: 0;
        width: 20px;
        margin-bottom: 150px;
        margin-left: 5px;
    }
    .party .party-container .party-text .party-des{
        margin: 0;
        color: black;
        max-width: 80%;
        height: 0%;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .party .party-container .party-text .party-spn{
        width: 0px;
        height: 0px;
        margin: 0%;
        color: black;
    }
    .party .party-container{
        flex-direction: column;
    }
    .party .party-container .party-pic{
        margin-top: 50px;
    }  
}
/* For medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    
}

/* __________________________________4TH PART____________________________________ */
/* address style--------------------------------*/
.address{
    width:1320px ;
    height:482px ;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.address .text{
    width:549px ;
    height:272px ;
    margin: 0 auto;
    /* border: 2px solid black;  */
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
}
.text .holder{
    color: rgb(255, 0, 0);
}
.text .red-btn{
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    margin-top: 48px;
}
/*Responsive address--------------------------------  */
/* For small device */
@media screen and (max-width:576px) {
    .address{
        max-width: 95%;
        margin-top: 500px;
    }
}
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    
}

/*___________________________________5TH PART____________________________________ */
/* coming soon style-------------------------- */
.coming-soon{
    width:1320px ;
    height:463px ;
    margin: 0 auto;
    margin-top: 120px;
    /* border: 2px solid black; */
    display: flex;
}
.coming-soon .left{
    width:393px ;
    height:255px ;
    margin-top: 104px;
    margin-bottom: 104px;
    /* border: 2px solid blue; */
}
.coming-soon .left .title{ 
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}
.coming-soon .left .title-des{
     color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.coming-soon .left .title-info{ 
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
}
.coming-soon .pic{
    width:463px ;
    height: 463px;
    margin-left:70px ;
    margin-right:118px ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 100%;
    padding: 49px;
}
.coming-soon .right{
    width:276px ;
    height:170px ;
    margin-top: 112px;
    /* border: 2px solid black; */
}
.coming-soon .right .year{
     color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}
.coming-soon .right .title-info{
     color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}
.coming-soon .right .logo{
    border: 2px dashed gray;
}
/*Responsive coming soon----------------------------------  */
/* For small device */
@media screen and (max-width:576px) {
    .coming-soon{
        max-width: 100%;
        flex-direction: column;
    }
    .coming-soon .left{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .coming-soon .pic{
        width: 90%;
        height: 90%;
        margin-left: 0px;
    }
    .coming-soon .right{
        margin-top: 0px;
        margin-left: 5px;
    } 
}
/* For medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    
}


/* _______________________________________6TH PART_____________________________________ */
/* holiday-sale style--------------------------------- */
.holiday-sale{
    width:1320px ;
    height:986.07px ;
    margin: 0 auto;
    margin-top:120px ;
    /* border: 2px solid blue; */
}
.holiday-sale .sale-info{
    width:1068px ;
    height:260px ;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid black; */
}
.holiday-sale .sale-info .title{ 
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}
.holiday-sale .sale-info .sub-title{ 
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    margin-bottom: 28px;
}
.holiday-sale .sale-info .span{
    color: rgb(255, 0, 0)
}
.holiday-sale .sale-info .description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.holiday-sale .box-card{
    width:1320px ;
    height:662.07px;
    /* border: 2px solid pink; */
}
.upper-pic{
    display: flex;
    justify-content: space-around;
}
.box-card{
    margin-top: 64px;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.box{
    width: 798px;
    height: 662px;
    border: 1px dashed gray;
}
.discount{
    width:305px ;
    height:305px ;
    border: 1px dashed gray;
}

/* ________________________________7TH PART_________________________________ */
/* best gifts style------------------------------- */
.best-gifts{
    width:1320px ;
    height:1163px ;
    margin: 0 auto;
    margin-top:120px ;
    /* border: 2px solid pink; */
}
.best-gifts .gift-title{ 
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}
.best-gifts .gift-subtitle{ 
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
} 
.best-gifts .gift-description{ 
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left; 
    margin-bottom: 48px;
}
.best-gifts .gallery{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 24px;  
}
.best-gifts .pic{
    width:424px ;
    height:450px ;
    border: 1px dashed grey;
}
/* Responsive best gifts-------------------------------------- */
/* For small devices */
@media screen and (max-width:576px) {
    .best-gifts{
        max-width: 100%;
        margin-top:600px;
    }
    .best-gifts .gallery{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 0px;
    }
    .best-gifts .pic{
        max-width: 90%;
        max-height: 90%;
        margin: 0 auto;
    }
    .best-gifts .gift-title{
        margin-left: 5px;
    } 
    .best-gifts .gift-subtitle{
        margin-left: 5px;
    }
    .best-gifts .gift-description{
        margin-left: 5px;
    } 
}
/* For medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    
}


/* ___________________________________8TH PART_________________________________ */
/* subscriber style----------------------- */
.subscriber{
    width:1320px ;
    height: 616px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    /* border: 2px solid orangered; */
    /* display: flex; */
}
.subscriber .subscriber-text{
    width: 896px;
    height: 336px;
    margin: 0 auto;
    margin-top: 80px;
    /* border: 2px solid black; */
}
.subscriber .subscriber-text .enveloup{
    margin-left: 373px;
    margin-top: 86px;
    border: 2px dashed grey;
}
.subscriber .subscriber-text .subscriber-title{ 
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 40px;
}
.subscriber .subscriber-text .subscriber-description{ 
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 22px;
}
.subscriber .subscriber-text .info{
    position: absolute;
    width: 648px;
    height: 72px;
    margin-top: 48px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    border: none;
} 
.subscriber .submit-item{
    margin-top: 120px;
    margin-left: 336px;
}
.subscriber .submit-item .text-field{ 
    border-radius: 50px 0px 0px 50px;
    background: rgb(255, 255, 255);
    width:600px ;
    height:60px ;
    border: none;
}
.subscriber .submit-item .text-field::placeholder{ 
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
} 
.subscriber .submit-item .submit-button{
    width:150px ; 
    height:60px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
}
/* Responsive subscriber style------------------------------------ */
/* For small device */
@media screen and (max-width:576px) {
     .subscriber{
        max-width: 100%;
        margin-top: 2000px;
      } 
      .subscriber .subscriber-text {
        width: 90%;
      }
      .subscriber .subscriber-text .enveloup {
        margin-left: 85px;
        margin-top: 10px;
      } 
      .subscriber .submit-item {
        margin-left: 35px;
        margin-top: 200px;
      }
      .subscriber .submit-item .text-field {
        width: 40%;
      }
}
/* For medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    
}


/* ________________________________9TH PART____________________________________ */
/* footer style-------------------------- */
.footer{
    width:1600px ;
    height:609px ;
    margin: 0 auto;
    margin-top: 120px;
    background: rgb(7, 2, 17);
} 
.footer .up-style{
    width:1185px ;
    height:80px ;
    margin: 0 auto;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 120px;
} 
.footer .up-style p{ 
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
} 
.footer .up-style .ic{
    margin-right: 10px;
}
.footer-icons{
    width: 1320px;
    height: 100px;
    margin: 0 auto;
    margin-top: 250px;
    border: 1px solid rgba(255, 255, 255, 0.15);;
}
.icons{
    width:328px ;
    height:64px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    gap: 24px;
}
.bottom-style{
    width:1185px ;
    height: 29px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* border: 2px solid blue; */
    
}
.bottom-style p{
    color:#FFFFFF ;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}